body {
  background-color: #1f0322;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: #f5ebe0;
  transform-style: preserve-3d;
  height: 250px;
  width: 250px;
  transition: 150ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.singleCard {
  align-items: center;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.button {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #5f6062;

  text-align: center;
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(1, 1fr);
  padding: 10px;
  column-gap: 10px;
}

.grid-item {
  /* border: 1px solid #f5ebe0; */
  padding: 10px;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.8); */
  display: flex;
  justify-content: center;
  align-items: center;
}
